.home-wrapper{
  max-width: 50vw;
  width: 100%;
  height: 100%;
}


.logo{
  margin: 0 auto 20px;
  width: 30px;
 }
 .saved-api{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  }
