.home-wrapper{
  width: 50vw;
  height: 100%;
}


.logo{
  margin: 0 auto 20px;
  width: 30px;
 }
 .saved-api{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  }
