.account-wrapper {
    background: linear-gradient(#f48c8d, #f4c58d)
}

.detail-wrapper {
    .form-wrapper {
        margin: 0 auto;
    }
}

.even-row {
    background-color: #b4d7e1;
}

.log-wrapper {
    max-width: calc(50vw - 17px);
    width: 100%;
    padding-left: 10px;
    height: 100%;
}

.mock-page-title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px 10px 0px;
    color: #e3e3e3;
}
