.account-wrapper {
    padding: 20px;
    background: linear-gradient(#f48c8d, #f4c58d)
}

.detail-wrapper {
    .form-wrapper {
        margin: 0 auto;
    }
}

.even-row {
    background-color: #b4d7e1;
}
