.M-nav {
    position: relative;

    .ant-tabs .ant-tabs-nav {
        margin-bottom: 0;
    }

    .btn-exit {
        position: absolute;
        top: 6px;
        right: 6px;
    }
    .domain{
        font-size: 16px;
        top:15px;
        position: absolute;
        left: 10px;
    }
}
