.ProjectDetail-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.ant-layout-header{
  padding: 0 20px;
}
.ant-layout-content {
  max-height: calc(100vh - 64px);
  overflow-y: auto;
}

.mock-page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;

  > .saved-api{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }
}

.mock-page-content {
  display: flex;
  flex-direction: row;
}
.ant-switch{
  background-color: #ccc;
}
.ant-switch:hover:not(.ant-switch-disabled){
  background-color: #ddd;
}
.divier{
  height: calc(100vh - 64px);
}
.icon-more {
  // position: relative;
  // display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  // top: -2px;
  color: white;
}
